extends layout

block content
    h1= title
    h2 Guide
    p.
        You can upload a file in the form and the it will return a JSON with
        the file size in Bytes.
    h2 Example output
    p
        code `{ "size: 63925" }`
    h2 More information
    p you can find more information and the source code of this website at 
        a(href="https://github.com/tuxitop/file-size-api") github.
